body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
select,
textarea {
    font-family: "RussianRail G Pro", sans-serif !important;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "RussianRail G Pro";
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
}

a {
    text-decoration: none;
    color: var(--color);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.formContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    background-color: rgb(218, 218, 218);
    height: 38vh;
    margin-left: 7%;
    overflow-y: auto;
    overflow-x: hidden;
}

.formContainer h1 {
    margin: 5% 0;
}

.formContainer2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    background-color: rgb(218, 218, 218);
    height: 23vh;
    margin-left: 7%;
    overflow-y: auto;
    overflow-x: hidden;
}

.formContainer2 h1 {
    margin: 5% 0;
}

.loginContainer form input {
    display: block;
    padding: 14.5px;
    margin: 2rem 0;
    color: var(--color);
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.loginContainer form select {
    display: block;
    padding: 14.5px;
    margin: 2rem 0;
    color: var(--color);
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.loginContainer form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.loginContainer form button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.circle {
    width: 8rem;
    height: 8rem;
    background: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}

.illustration {
    position: absolute;
    top: -14%;
    right: -2px;
    width: 90%;
}

.circle-one {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
    -webkit-transform: translate(-45%, -45%);
    -moz-transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    -o-transform: translate(-45%, -45%);
}

.circle-two {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
    -webkit-transform: translate(45%, 45%);
    -moz-transform: translate(45%, 45%);
    -ms-transform: translate(45%, 45%);
    -o-transform: translate(45%, 45%);
}

.register-forget {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.opacity {
    display: flex;
    align-content: center;
    user-select: none;
}

.themeBtnContainer {
    position: absolute;
    left: 0;
    bottom: 2rem;
}

.theme-btn {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.theme-btn:hover {
    width: 40px !important;
}

@keyframes wobble {
    0% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }

    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    75% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}



.assemblyPageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}


.topContentContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    min-height: 50vh;
    height: 100%;
    justify-content: space-around;
}

.leftContainer {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: end;
    background-color: rgb(46,170,89);
    height: 80vh;
    margin-top: 3%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navContainer {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    background: linear-gradient(to right, rgb(46,170,89), rgb(46,170,89)), 
                radial-gradient(circle at left, transparent 10px, rgb(46,170,89) 10px); 
    background-size: 100% 100%, 10px 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 50px; /* Outer curve on right side */
    border-bottom-right-radius: 50px; /* Outer curve on right side */
}

.navItemContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    background-color: rgba(0, 108, 42, 1); /* Match container background */
    height: 32%;
    margin: 5% 2% 5% 0;
    border-radius: 10px 0px 0px 10px; /* Rounded corners on right side */
    z-index: 2; /* Ensure content is above pseudo-elements */
}
.navItemContainer:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}

.navItemIconContainer {
    display: flex;
    align-items: center;
    padding: 1%;
    margin-left: 3%;
}

.navItemIconContainer svg {
    font-size: 30px;
    margin-right: 15px;
}
.navItemTextContainer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-grow: 1; /* Expand to fill available space */
   
}
.navItemTextContainer span {
    font-size: 18px;
}


.RightContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: start;
    background-color: rgb(218, 218, 218);
    height: 80vh;
    margin-top: 3%;
    margin-left: 3%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px;
}

.newAssemblyContainerInContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    align-items: center;
    overflow-y: auto;
    margin-top: 10px;
}

.newAssemblyContainerInContainer2 {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 700px;
    align-items: center;
    overflow-y: auto;
    margin-top: 10px;
}

.newAssemblyContainerInContainer3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    align-items: center;
    overflow-y: auto;
    margin-top: 45px;
}


.newAssemblyContainerSctoll {
    overflow-y: auto;
    margin: 10px;
}

.newAssemblyContainerTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(17 24 39);
    ;
    background-color: rgb(17 24 39);
    ;
    color: #1976d2;
    font-family: 'RussianRail G Pro', sans-serif;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50%;

}

.buttonsContainer button {
    padding: 35px;
    border-bottom: 2px solid transparent;
    /* Добавляем границу кнопкам */
    border-top: 2px solid transparent;
    /* Добавляем границу кнопкам */
    background-color: #172D13;
    /* Прозрачный фон */
    color: green;
    border-color: rgb(218, 218, 218);
    /* Цвет границы при наведении */
    border-radius: 0%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    /* Анимация перехода цвета */
}

.buttonsContainer button:hover {
    background-color: #172D13 !important;
    /* Цвет фона при наведении */
    color: rgb(7, 197, 7);
    /* Цвет текста при наведении */
    border-color: rgb(green);
    /* Цвет границы при наведении */
}

.buttonsContainer button:focus {
    outline: none;
    /* Убираем фокусировку при нажатии */
    border-color: green;
  
    color: #d2e0c9 !important;
    /* Цвет текста при активации */
    background-color: #172D13 !important;

}

.buttonsContainer button:active {
    background-color: #172D13 !important;
    /* Цвет фона при активации */
    color: #d2e0c9 !important;
    /* Цвет текста при активации */
    border-color: green;
    /* Цвет границы при активации */
}

.container {
    display: flex;
    justify-content: center;
    /* Центрирование по горизонтали */
    align-items: center;
    /* Центрирование по вертикали */
    gap: 16px;
    /* Пространство между элементами */
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 400px; */
}

.createUserBackground {
    
    background-image: url('../../images/customizationBackground.jpg');
    background-size: cover; /* Растягиваем изображение на весь контейнер */
}

.newRightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    position: relative;
    /* Добавляем относительное позиционирование для корректного позиционирования дочерних элементов */
}

.image {
    width: 400px;
    height: 300px;
    position: absolute;
    /* Позиционируем изображение абсолютно внутри контейнера */
    top: 115px;
    /* Помещаем изображение вверху контейнера */
    right: -82px;
    /* Помещаем изображение вправо контейнера */
    transform: translate(50%, -50%);
    /* Центрируем изображение относительно правого верхнего угла */
    z-index: 50;
    /* Помещаем изображение ниже содержимого формы регистрации */
    margin-bottom: 5px;
    margin-left: 5px;

}

.imagelogo{
    width: 400px;
    height: 300px;
    position: absolute;
    /* Позиционируем изображение абсолютно внутри контейнера */
    top: 115px;
    /* Помещаем изображение вверху контейнера */
    right: -82px;
    /* Помещаем изображение вправо контейнера */
    transform: translate(50%, -50%);
    /* Центрируем изображение относительно правого верхнего угла */
    z-index: 50;
    /* Помещаем изображение ниже содержимого формы регистрации */
    margin-bottom: 5px;
    margin-left: 5px;  
}

.column {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
    /* background-color: white; */
    width: 35vh;
}

.column div div {
    background-color: white;
}

.column div div:hover {
    background-color: rgb(218, 218, 218);
}

@media only screen and (min-width: 960px) and (min-height: 540px) {
    .buttonsContainer button {
        padding: 2vh !important;
        transition: padding 0.3s ease;
    }
    .LeftContainer {
        height: 80%;
        transition: height 0.3s ease;
    }
    .RightContainer {
        height: auto;
        transition: height 0.3s ease;
    }
    .createUserBackground {
        background-size: auto;
        transition: background-size 0.3s ease;
    }
    .newRightContainer {
        margin-top: 15%;
        transition: margin-top 0.3s ease;
    }
}

.blackButton {
    width: 25%;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 7%;
    background-color: #1C1E1B !important;
    color: white !important;
    border: none;
    cursor: pointer;
}

.blackButton:hover {
    background-color: #3c4139 !important;
    /* width: 100%; */
    border-radius: 10px;
    transition: .2s;
}

.deleteButton {
    width: 15%;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10%;
}

.deleteButton:hover{
    background-color: red !important;
}

.deleteButton:active {
    background-color: green !important; /* При нажатии изменяем цвет фона на зеленый */
    color: black !important; /* При нажатии изменяем цвет текста на черный */
}

.deleteButton:focus {
    outline: none; /* Убираем стандартный контур фокуса */
}

.deleteButton.clicked {
    animation: clickEffect 0.5s linear; /* Изменяем время анимации для эффекта нажатия */
}

@keyframes clickEffect {
    0% {
        transform: scale(1); /* Начальное значение масштаба */
    }
    50% {
        transform: scale(0.9); /* Уменьшаем масштаб до 90% */
    }
    100% {
        transform: scale(1); /* Возвращаем масштаб к исходному */
    }
}

.textFieldStyled {
    width: 100%;
    background-color: rgb(245,245,245);
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    user-select: none;
}

.menuItem {
    background: rgb(245, 245, 245) !important;
}
.menuItem:hover {
    background: rgb(46,170,89) !important;
}

.filterData {
    display: flex;
    width: 100%;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    margin-bottom: 2vh;
}

.updateContainer {
    margin: 5vh;
    height: 20vh;
    width: 70%;
    background-color: white;
    border-radius: 1vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.updateHeader {
    margin: 2vh;
    align-self: center;
    display: flex;
    user-select: none;
}

.updateSecondHeader {
    margin: 0vh;
    align-self: center;
    display: flex;
    color: gray;
    font-weight: lighter;
    user-select: none;
}

.updateButton {
    user-select: none;
    width: 30%;
    font-size: 18px;
    border-radius: 10px;
    background-color: #1C1E1B !important;
    color: white !important;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 2vh;
    align-self: center;
    display: flex;
    text-align: center;
}

.updateButton:hover {
    user-select: none;
    background-color: #3c4139 !important;
    border-radius: 10px;
    transition: .2s;
}