.container {
    max-width: 600px;
    max-height: 58vh;

    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    /* margin-bottom: 30vh; */
}

.formGroup {
    margin-bottom: 20px;
}

#orderSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.selectedOrderInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    max-width: 650px;
    max-height: 300px;
}



.selectedOrderInfo h3 {
    margin-top: 0;
}

.selectedOrderInfo p {
    margin: 5px 0;
}

.deleteButton {
    background-color: #172D13 !important;
    color: #d2e0c9 !important;
    width: 19vh !important;
    transition: background-color 0.5s, color 0.5s !important;
    border: 2px solid #d2e0c9 !important; /* Добавляем зеленый бордер */
}

.deleteButton:active {
    background-color: green !important;
    color: black !important;
}

.deleteButton:focus {
    outline: none;
}

.deleteButton.clicked {
    animation: clickEffect 0.5s linear;
}

@keyframes clickEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}