.productsAssemblyContainer {
    margin: 20px;
    margin-top: 5%;
}

.title {
    font-size: 24px !important;
    margin-bottom: 16px !important;
}

.tableContainer {
    margin-bottom: 20px !important;
    overflow-y: auto;
    max-height: 70vh;
}

.table {
    width: 100% !important;
    border-collapse: collapse !important;
}

.table th,
.table td {
    padding: 12px !important;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.row {
    cursor: pointer;
}

.dialogTitle {
    font-size: 20px;
}

.dialogContent {
    margin-top: 10px;
    width: max-content;
    padding: 0px 0px !important;
    user-select:text;
}

.dialogTable {
    width: max-content;
    border-collapse: collapse;

    
}

.dialogTable th,
.dialogTable td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.dialogActions {
    /* margin-top: 0vh; */
    /* padding: 16px; */
}

.dialogButton {
    padding: 8px 16px;
}

.redBorder {
    border-bottom: 5px solid red;
    border-top: 5px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.yellowBorder {
    border-bottom: 5px solid yellow;
    border-top: 5px solid yellow;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
}

.greenBorder {
    border-bottom: 5px solid green;
    border-top: 5px solid green;
    border-left: 1px solid green;
    border-right: 1px solid green;}

.stickyHeader {
    position: sticky;
    top: 0;
    /* background-color: rgb(236, 235, 235); */
}

.productsAssemblyContainer tbody {
    background-color: rgb(218, 218, 218) !important;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.greenCircle {
    background-color: green;
}

.redCircle {
    background-color: red;
}

.yellowCircle {
    background-color: yellow;
}