/* Основные стили */
* {
    font-family: 'RussianRail G Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

.headerContainer {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    font-size: 8px;
    justify-content: space-around;
}

.headerButtonsContainer {
    display: flex;
    align-items: flex-start;
    gap: 2vh;
    user-select: none;
    -webkit-user-select: none;
}

.headerButtonsContainer button {
    margin: 0 1vh;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    font-size: 1px;
}

.headerButtonsContainer button:hover {
    background: rgb(46,170,89);
    border-radius: 1vh;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.loginButtonContainer {
    display: flex;
    align-items: center;
    right: 2vh;
    position: absolute;
}

.active button {
    background: rgb(46,170,89);
    border-radius: 1vh;
    user-select: none;
}

.userWelcomeContainer {
    display: flex;
    align-items: center;
    user-select: none;
    position: absolute;
    right: 9vh;
    margin-top: 15px;

}

.userName {
    color: green;
    font-size: 18px !important;
}

button:hover {
    background: rgb(46,170,89) !important;
    border-radius: 2vh;
}

.loginButtonContainer button:hover {
    border-radius: 2vh;
}

.loginButtonContainer button {
    border-radius: 2vh;
    color: black;
}

.active button {
    border-radius: 1vh;
    user-select: none;
}

a {
    height: 6.5vh;
}