* {
    font-family: 'RussianRail G Pro', sans-serif;
  }

.headerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    /* align-items: center; */
    background: #172D13;
    user-select: none;
    -webkit-app-region: drag;
    position: sticky;
    top: 0;
    z-index: 99;
    height: 8vh;
}
.logoContainer svg {
    color: white;
}
.headerButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-evenly;
    user-select: none;
    -webkit-app-region: no-drag;
}
.headerButtonsContainer button:hover{
    color: rgb(0, 108, 42) !important;
}
.loginButtonContainer {
    -webkit-app-region: no-drag;
}
.loginButtonContainer button:hover{
    color: rgb(0, 108, 42) !important;
}
.active h1, .active h2 {
    color: green;
    user-select: none;
}

.userName {
    color: green;
}

.userWelcomeContainer {
    display: flex;
    align-items: center;
}


