
* {
  font-family: 'RussianRail G Pro', sans-serif !important;
}


.acceptancePageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 1%; */
  user-select: none;
  height: 90vh;
}

.topContentContainer {
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-around;
  height: 95%;
}

.newAcceptanceContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  background-color: rgb(46,170,89);
  padding: 1%;
  border-radius: 10px;
}

.newAcceptanceContainerTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(46,170,89);
  color: black;
}

.newAcceptanceInputsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.topNewAcceptanceInputsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

.bottomNewAcceptanceInputsContainer {
  composes: topNewAcceptanceInputsContainer;
}

.newAcceptanceTableContainer {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.newAcceptanceTableContainer span {
  color: black !important; /* Заменяем синий на зеленый */
}

.newAcceptanceTableContainer svg {
  color: rgb( 0, 108, 42 ) !important; /* Заменяем синий на зеленый */
}

.newAcceptanceTableContainer table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.newAcceptanceTableContainer th,
.newAcceptanceTableContainer td {
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
}

.newAcceptanceTableContainer th {
  background-color: rgb(218,218,218);
  color: black;
}

.newAcceptanceTableContainer tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.newAcceptanceTableContainer tr:hover {
  background-color: #ddd;
}

.newAcceptanceTableContainer th,
.newAcceptanceTableContainer td {
  transition: background-color 0.3s ease;
}

.newAcceptanceTableContainer tr:hover td {
  background-color: #f5f5f5;
}

.newAcceptanceButtonsContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 100%;
  margin: 1% 0;
}

.listOfLastAcceptancesContainer {
  display: flex;
  width: 35%;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
}

.lastAcceptancesSwiper {
  max-width: none !important;
}



.blackButton {
  width: 230px !important;
  font-size: 14px;
  border-radius: 10px;
  /* margin-left: 7%; */
  background-color: #1C1E1B !important;
  color: white !important;
  border: none;
  cursor: pointer;
  margin: 0;
}

.blackButton:hover {
  background-color: #3c4139 !important;
  /* width: 100%; */
  border-radius: 10px;
  transition: .2s;
}

@keyframes clickEffect {
  0% {
      transform: scale(1); /* Начальное значение масштаба */
  }
  50% {
      transform: scale(0.9); /* Уменьшаем масштаб до 90% */
  }
  100% {
      transform: scale(1); /* Возвращаем масштаб к исходному */
  }
}

.greenIcon {
  color: green !important;
}

fieldset {
  outline: none !important;
  border-color: green !important; 
  color: green !important;
}

.customScroll::-webkit-scrollbar {
  width: 12px;
}

.customScroll::-webkit-scrollbar-track {
  background: #ffffff;
}

.customScroll::-webkit-scrollbar-thumb {
  background: #AFFD86;
  border: 3px solid #AFFD86;
  border-radius: 6px;
}